body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    margin-bottom: 10px;
}
svg{
    width: 50px;
    height: 50px;
    fill:#007BFF;
}
h4{
    color: #333;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input,textarea,button{
    margin: 10px 0;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
}
input[type="date"],input[type="time"]{
    width: calc(50%-5px);
}
textarea{
    resize: vertical;
}
button{
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #218838;
}